<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Password Reset with Image</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/assets/css/Reset_paasword.CSS">

</head>

<body>

  <div class="container">
    <!-- Form Section -->
    <div class="form-section">
      <h2>Reset Your Password</h2>
      <form action="password_reset" method="post">
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" id="oldPassword" placeholder="Enter old password" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" placeholder="Enter new password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" placeholder="Confirm password" required>
        </div>
        <button type="submit">Reset Password</button>
      </form>
    </div>

  </div>

</body>

</html>